<div id="card-list" class="column">
	<ul class="search">
		<li class="item active"><a href="#home">All</a></li>
		<li class="item"><a href="#about_us">3D Graphic</a></li>
		<li class="item"><a href="#pages_path">Illustrations</a></li>
		<li class="item"><a href="#shortcode">Web Design</a></li>
		<li class="item"><a href="#shop">Mobile Design</a></li>
		<li class="item"><a href="#contact_us">Branding Design</a></li>
	</ul>

	<ul id="portfolio-list"></ul>

	<div class="load-line">
		<span class="wrapper">
			<button id="portfolio-load-more" class="btn">Load more</button>
		</span>
	</div>
</div>