<header id="header" class="content-block">
	<a class="logo" href="/" title="Go to home page">
		<img class="pic" src="img/logo.png" alt="logotype"><span class="name">FREXY</span>
	</a>

	<nav id="nav_top">
		<ul class="page-list">
			<li class="page active"><a href="#home">Home</a></li>
			<li class="page"><a href="#about_us">About us</a></li>
			<li class="page"><a href="#pages">Pages!</a></li>
			<li class="page"><a href="#shortcode">Shortcode</a></li>
			<li class="page"><a href="#shop">Shop</a></li>
			<li class="page"><a href="#contact_us">Contact us</a></li>
		</ul>
	</nav>

	<div class="header__menu">
		<button class="btn search"></button><button class="btn basket"></button>
	</div>
</header>