<div id="main">
	<div id="page_description" class="content-block">
		<h1 class="title">Our portfolio</h1>
		<p class="desc">Check our portfolio 3 columns sample</p>
	</div>

	<nav id="pages_path" class="content-block">
		<ul class="list">
			<li class="page"><a href="#" title="Back to home page">Home</a></li>
			<li class="page"><a href="#portfolio" title="Current page">Portfolio</a></li>
			<li class="page"><span>3 columns</span></li>
		</ul>
	</nav>

	<div id="content" class="content-block">
		{{> aside}}
		{{> content}}
	</div>
</div>