<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="author" content="Алексей Шолохов">
	<meta name="description" content="Тестовое задание для трудоустройства">
	<meta name="keywords" content="ТЗ, тестовое, задание">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>Тестовое задание</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="js/script.js"></script>
</head>

<body>
	<div class="content-wrapper">
		{{> header}}
		{{> main}}
		{{> footer}}
	</div>
</body>

</html>